<%- include ("../partials/header"); %>

<title>Editar Usu치rio</title>
</head>
<body>
<section class="container">
    <div class="row mt-5">
        <div class="col-6">
            <h1>Editar Usu치rio</h1>
        </div>
        <!-- <div class="col-6 text-right">
            <a href="/biblioteca/listandoLivros" class="btn btn-primary my-3 text-center">Todos Usu치rios</a>
        </div> -->
    </div>

    <form id="formulario" action="/biblioteca/editandoUsuarios" method="POST">

        <div class="form-group">
            <label for="nome">Nome:</label>
            <input class="form-control" type="text" id="nome" name="name"  value="<%= edita.Name %> ">
        </div>
        <div class="form-group">
            <label for="senha">Senha:</label>
            <input class="form-control" type="text" id="senha" name="password"  value="<%= edita.Password %>">
        </div>
        <div class="form-group">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="pass_one" name="pass" class="custom-control-input" value="1">
                <label class="custom-control-label" for="pass_one">ADM</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="pass_zero" name="pass" class="custom-control-input" value="0">
                <label class="custom-control-label" for="pass_zero">Usu치rio</label>
              </div>


              <input type="hidden" name="id" value="<%= edita._id %>">







        </div>
       
        <button class="btn btn-success" type="submit">Editar</button>
    </form>

</section>

<%- include ("../partials/footer"); %>