<%- include ("../partials/header"); %>

<title>Editar Livros</title>
</head>
<body>
<section class="container">
    <div class="row mt-5">
        <div class="col-6">
            <h1>Editar Livros</h1>
        </div>
        <!-- <div class="col-6 text-right">
            <a href="/listandoLivros" class="btn btn-primary my-3 text-center">Lista de Livros</a>
        </div> -->
    </div>

    <form id="formulario" action="/biblioteca/editandoLivros" method="POST">

        <div class="form-group">
            <label for="nome">Título:</label>
            <input class="form-control" type="text" id="titulo" name="titulo" value="<%= banana.Titulo %>">
        </div>
        <div class="form-group">
            <label for="idade">Autor:</label>
            <input class="form-control" type="text" id="autor" name="autor" value="<%= banana.Autor %>">
        </div>
        <div class="form-group">
            <label for="genero">Genero:</label>
            <select class=" custom-select form-control" id="genero" name="genero">
                <option class="d-none" value="<%=banana.Genero%>">Escolha</option>
                <option value="fantasia">Fantasia</option>
                <option value="literatura">Literatura</option>
            </select>
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <select class=" custom-select form-control" id="status" name="status" required>
                <option class="d-none" value="<%= banana.Status %>">Escolha</option>
                <option value="emprestado">Emprestado</option>
                <option value="disponivel">Disponível</option>
            </select>
        </div>
        <input type="hidden" name="id" value="<%= banana._id %>">

        <button class="btn btn-success" type="submit">Salvar</button>
    </form>

</section>

<%- include ("../partials/footer"); %>