<%- include ("../partials/header"); %>
<title>Listagem de Livros</title>
    </head>

    <body>
    <section class="container">

        <div class="">
            <div class="row mt-5">
                <div class="col-3">
                    <h1>Listagem de Livros</h1>
                </div>
                <div class="col-2">
                    <a href="/biblioteca/listandoUsuarios"><button class="btn btn-primary">Usuarios</button></a>
                </div>
                
                <div class="col-2">
                    <a href="/biblioteca/listandoLivros"><button class="btn btn-primary">Todos os Livros</button></a>
                </div>
                <div class="col-2">
                    <a href="/biblioteca/cadastrandoLivros"><button class="btn btn-primary">Novo Livro</button></a>
                </div>
                <div class="col-3">
                    <form action="/biblioteca/pesquisandoLivrosAdm" method="GET">
                        <div class="input-group">
                        <input class="form-control" type="search" id="search" name="search">
                        <button class="btn btn-light" type="submit">Pesquisar</button>
                    </div>
                    </form>

                </div>
               
            </div>
            <div class="row mt-1">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Autor</th>
                                <th>Genero</th>
                                <th>Status</th>
                                <th>Ação</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (lista_livros=="" ) { %>
                                <tr>
                                    <td colspan="6" class="alert-warning">Nenhum livro cadastrado</td>
                                </tr>

                                <% } else { lista_livros.forEach(function(livro) {%>
                                    <tr>
                                        <td>
                                            <%= livro.Titulo %>
                                        </td>
                                        <td>
                                            <%= livro.Autor %>
                                        </td>
                                        <td>
                                            <%= livro.Genero %>
                                        </td>
                                        <td>
                                            <%= livro.Status %>
                                        </td>
                                        <td>
                                            <a href="/biblioteca/editandoLivros/<%= livro._id %>" class="btn btn-warning">Editar</a>
                                        </td>
                                        <td>
                                            <a href="/biblioteca/deletandoLivros/<%= livro._id %>"
                                                class="btn btn-danger">Excluir</a>
                                        </td>
                                    </tr>

                                    <% }) %>
                                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </section>
    <%- include ("../partials/footer"); %>